@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
body {
  background-color: #034889;
  font-family: Poppins;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.row {
  padding: 7%;
  margin: 0;
  border-radius: 20px;
  background-color: #fff;
  color: #034889;
  margin: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 200px;
  max-width: 300px;
}

.row h1 {
  font-weight: 900;
  font-size: 25px;
}

.row p {
  font-size: 17px;
  color: #000;
  font-weight: 600;
}

.row input {
  width: 95%;
  height: 37px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 17px;
  border: solid 1px #000;
  border-radius: 5px;
}

.row input:hover {
  cursor: pointer;
}

.row input:focus {
  outline: none;
  border: solid 2px #0171d3;
}

.errors {
  font-size: 10px;
  color: red;
  position: relative;
  bottom: 9px;
  font-weight: 600;
}

.btn {
  background-color: #ffb200;
  padding: 10px 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 2px 2px 3px #000;
  font-size: 21px;
}
